<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578251691423-pbshtr1trbcjpkfuijperboglnlfv54k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578251691423-pbshtr1trbcjpkfuijperboglnlfv54k</string>
	<key>API_KEY</key>
	<string>AIzaSyCicoKZeGWQPxS8MvD5GTjqLQ2mGwx158I</string>
	<key>GCM_SENDER_ID</key>
	<string>578251691423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicsSamples</string>
	<key>PROJECT_ID</key>
	<string>cloud-firebase-odm-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-firebase-odm-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578251691423:ios:485a1e8330a1d2d785d9aa</string>
</dict>
</plist>